{% load static %}

<table {%if tableSearch %}id="serviceTable"{% endif%} class="table">
    <thead>
    <tr>
        <th>Service Name</th>
        <th>Endpoint Name</th>
        <th>Endpoint URL</th>
        <th>Total Hit</th>
        <th>Service Status</th>
        <th>Endpoint Status</th>
        {% if edit or details %}
        <th>Action</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for endpoint in endpoints %}
    <tr>
        <td>{{ endpoint.service.name }}</td>
        <td>{{ endpoint.endpoint_name }}</td>
        <td>{{ host }}/{{ endpoint.service.base_path }}/{{ endpoint.path }}</td>
        <td>{{ endpoint.hit_count }}</td>
        <td>
            {% if endpoint.service.is_active %}
            <label class="badge badge-gradient-success">ACTIVE</label>
            {% else %}
            <label class="badge badge-gradient-danger">INACTIVE</label>
            {% endif %}
        </td>
        <td>
            {% if endpoint.is_active %}
            <label class="badge badge-gradient-success">ACTIVE</label>
            {% else %}
            <label class="badge badge-gradient-danger">INACTIVE</label>
            {% endif %}
        </td>
        {% if edit or details %}
        <td>
            {% if edit and request.user == endpoint.service.user %}
            <a href="{% url 'edit_endpoint' endpoint.id %}" class="btn btn-light btn-sm p-1 rounded-circle"
               title="Edit">
                <i class="fa fa-edit" style="font-size: 0.99rem; color: #333;"></i>
            </a>
            {% endif %}
            {% if details %}
            <a href="{% url 'details_endpoint' endpoint.id %}" class="btn btn-light btn-sm p-1 rounded-circle"
               title="Edit">
                <i class="fa fa-eye" style="font-size: 0.99rem; color: #333;"></i>
            </a>
            {% endif %}
        </td>
        {% endif %}

    </tr>
    {% endfor %}
    </tbody>
</table>
