{% load static %}

<table id="serviceTable" class="table">
    <thead>
    <tr>
        <th>Service</th>
        <th>Auth Header</th>
        <th>Token</th>
        <th>Created At</th>
        {% if edit or details %}
        <th>Action</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for auth in auths %}
    <tr>
        <td>{{ auth.service }}</td>
        <td>{{ auth.auth_header }}</td>
        <td style="word-wrap: break-word; word-break: break-all; white-space: normal; max-width: 250px;">
            {{ auth.token }}
        </td>
        <td>{{ auth.created_at }}</td>
        {% if edit or details %}
        <td>
            {% if edit and request.user == auth.service.user %}
                <a href="{% url 'edit_jwt_auth' auth.id %}" class="btn btn-light btn-sm p-1 rounded-circle" title="Edit">
                    <i class="fa fa-edit" style="font-size: 0.99rem; color: #333;"></i>
                </a>
            {% endif %}
            {% if details %}
                <a href="{% url 'details_jwt_auth' auth.id %}" class="btn btn-light btn-sm p-1 rounded-circle" title="Details">
                    <i class="fa fa-eye" style="font-size: 0.99rem; color: #333;"></i>
                </a>
            {% endif %}
        </td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>
