{% extends 'base.html' %}
{% block nav_title %}Create Rule{% endblock %}
{% block content %}
{% load static %}

<div class="d-flex justify-content-between align-items-center mb-3">
    <a href="{% url 'create_rule' %}" class="btn btn-success">Create New Rule</a>
</div>

<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    {% include 'includes/rules_table.html' with rules=rules edit=1 details=1 %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
