{% load static %}

<!DOCTYPE html>
<html lang="en">
{% include 'includes/head.html' %}
<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
<!--    {% include 'includes/top_nav.html' %}-->
    {% include 'includes/top_nav.html' with nav_title=page_nav_title %}

    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        {% include 'includes/left_nav.html' %}
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                {% block content %}
                <!-- Child templates will inject content here -->
                {% endblock %}
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            {% include 'includes/footer.html' %}
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="{% static 'assets/vendors/chart.js/chart.umd.js' %}"></script>
<script src="{% static 'assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="{% static 'assets/js/off-canvas.js' %}"></script>
<script src="{% static 'assets/js/misc.js' %}"></script>
<script src="{% static 'assets/js/settings.js' %}"></script>
<script src="{% static 'assets/js/todolist.js' %}"></script>
<script src="{% static 'assets/js/jquery.cookie.js' %}"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script src="{% static 'assets/js/dashboard.js' %}"></script>
<!-- End custom js for this page -->
</body>
</html>