{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="page-header">
    {% include 'includes/page_header.html' with name=Dashboard %}
</div>

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <h4 class="card-title mb-0">New Service</h4>
                </div>
                <p class="card-description"></p>
                <form class="forms-sample" action="{% url 'create_service' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="serviceName">Name</label>
                        <input type="text" class="form-control" id="serviceName" name="serviceName" placeholder="Name"
                               minlength="3" value="{{ form_data.serviceName|default_if_none:'' }}" required>
                    </div>
                    <div class="form-group">
                        <label for="baseUrl">Base URL</label>
                        <input type="text" class="form-control" id="baseUrl" name="baseUrl" placeholder="Base URL"
                               minlength="3" value="{{ form_data.baseUrl|default_if_none:'' }}" required>
                    </div>
                    <div class="form-group">
                        <label for="status">Status</label>
                        <select class="form-select" id="status" name="status">
                            <option value="1" {% if form_data.status == '1' %}selected{% endif %}>Active</option>
                            <option value="0" {% if form_data.status == '0' %}selected{% endif %}>Inactive</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% include 'includes/notify_modal.html' with name=messages %}

{% endblock %}
