{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="page-header">
    {% include 'includes/page_header.html' with name=Dashboard %}
</div>

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                <!-- Left side -->
                <h4 class="card-title mb-0">Select Service</h4>
                <!-- Right side -->
                <h4 class="btn btn-success"><a>Create New Service</a></h4>
            </div>
                <p class="card-description"></p>
                <form class="forms-sample" action="{% url 'service_list' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <select class="form-select" id="exampleSelectGender" name="service_id">
                            {% for service in services %}
                            <option value="{{ service.id }}"
                                    {% if service.id|stringformat:"s" == selected_service_id %}selected{% endif %}>{{ service.name }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
