{% extends 'base.html' %}
{% block content %}
{% load static %}


<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                {% include 'includes/page_header.html' with name="Create New Endpoint" button_url="endpoint_list" %}
                <p class="card-description"></p>
                <form class="forms-sample" action="{% url 'create_endpoint' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="serviceID">Service</label>
                        <select class="form-select" id="serviceID" name="serviceID" required>
                            {% for service in services %}
                            <option value="{{ service.id }}" {% if service.id|stringformat:"s" == selected_service_id %}selected{% endif %}>{{ service.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="endpointName">Endpoint Name</label>
                        <input type="text" class="form-control" id="endpointName" name="endpointName"
                               value="{{endpointName}}"
                               placeholder="Endpoint Name"
                               minlength="3" required>
                    </div>

                    <div class="form-group">
                        <label for="endPoint">Endpoint</label>
                        <input type="text" class="form-control" id="endPoint" name="endPoint" placeholder="Endpoint"
                               value="{{endPoint}}" minlength="3" required>
                    </div>
                    <div class="form-group">
                        <label for="httpMethod">HTTP Method</label>
                        <select class="form-select" id="httpMethod" name="httpMethod">
                            <option value="GET" {% if httpMethod == 'GET' %}selected {% endif %}>GET</option>
                            <option value="POST" {% if httpMethod == 'POST' %}selected {% endif %}>POST</option>
                            <option value="PUT" {% if httpMethod == 'PUT' %}selected {% endif %}>PUT</option>
                            <option value="PATCH" {% if httpMethod == 'PATCH' %}selected {% endif %}>PATCH</option>
                            <option value="DELETE" {% if httpMethod == 'DELETE' %}selected {% endif %}>DELETE</option>
                            <option value="HEAD" {% if httpMethod == 'HEAD' %}selected {% endif %}>HEAD</option>
                            <option value="OPTIONS" {% if httpMethod == 'OPTIONS' %}selected {% endif %}>OPTIONS</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="authType">Auth Type</label>
                        <select class="form-select" id="authType" name="authType">
                            <option value="none" {% if authType == 'none' %}selected {% endif %}>None</option>
                            <option value="basic" {% if authType == 'basic' %}selected {% endif %}>Basic</option>
                            <option value="api_key" {% if authType == 'api_key' %}selected {% endif %}>API Key</option>
                            <option value="jwt" {% if authType == 'jwt' %}selected {% endif %}>JWT</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="defaultHttpStatus">Default Status</label>
                        <select class="form-select" id="defaultHttpStatus" name="defaultHttpStatus">
                            <option value="200" {% if defaultHttpStatus == '200' %}selected {% endif %}>200</option>
                            <option value="201" {% if defaultHttpStatus == '201' %}selected {% endif %}>201</option>
                            <option value="400" {% if defaultHttpStatus == '400' %}selected {% endif %}>400</option>
                            <option value="403" {% if defaultHttpStatus == '403' %}selected {% endif %}>403</option>
                            <option value="500" {% if defaultHttpStatus == '500' %}selected {% endif %}>500</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="default_response">Default JSON Response</label>
                        <textarea class="form-control" id="default_response" name="defaultResponse" rows="10"
                                  placeholder="Enter default JSON response">{{defaultResponse}}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="status">Status</label>
                        <select class="form-select" id="status" name="status">
                            <option value="1" {% if status == '1' %}selected {% endif %}>Active</option>
                            <option value="0" {% if status == '0' %}selected {% endif %}>Inactive</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% include 'includes/notify_modal.html' with name=messages %}

{% endblock %}
