{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="row">
    {% include 'includes/dashboard_card.html' with color='danger' title='Services' icon='chart-line' value=total_service %}
    {% include 'includes/dashboard_card.html' with color='info' title='Endpoints' icon='bookmark-outline' value=total_endpoints %}
    {% include 'includes/dashboard_card.html' with color='success' title='Total Hits' icon='diamond' value=total_hits %}
</div>
<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Most Hits</h4>
                <div class="table-responsive">
                    {% include 'includes/endpoints_table.html' with endpoints=endpoints tableSearch=0%}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
