{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="d-flex justify-content-between align-items-center mb-3">
    <a href="{% url 'create_service' %}" class="btn btn-success">Create New Service</a>
</div>

<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    {% include 'includes/services_table.html' with services=services edit=1 details=1%}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
