{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="page-header">
    {% include 'includes/page_header.html' with name=Dashboard %}
</div>

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <!-- Left side -->
                    <h4 class="card-title mb-0">Select Service</h4>

                    <!-- Right side (two buttons) -->
                    <div class="d-flex gap-2">
                        <a href="{% url 'create_service' %}" class="btn btn-success">Create Service</a>
                        <a href="{% url 'create_endpoint' %}" class="btn btn-success">Create Endpoint </a>
                    </div>
                </div>

                <p class="card-description"></p>
                <form class="forms-sample" action="{% url 'service_list' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <select class="form-select" id="exampleSelectGender" name="service_id">
                            {% for service in services %}
                            <option value="{{ service.id }}"
                                    {% if service.id == selected_service_id %}selected{% endif %}>{{ service.name }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
    {% if services %}
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Service</h4>
                <div class="table-responsive">
                    {% include 'includes/endpoints_table.html' with endpoints=endpoints edit=1%}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}
